
<div>
    <table class="mat-table mat-elevation-z8">
        <thead>
            <tr class="mat-header-row">
                <th class="mat-header-cell"> Id </th>
                <th class="mat-header-cell"> Username </th>
                <th class="mat-header-cell"> Phone Number </th>
                <th class="mat-header-cell"> Email</th>
                <th class="mat-header-cell"> Name </th>
                <th class="mat-header-cell"> Is Blocked </th>
            </tr>
        </thead>
        <tbody>
            <tr class="mat-row" *ngFor="let element of tableData">
                <td class="mat-cell"> {{element.id}} </td>
                <td class="mat-cell"> {{element.userName}} </td>
                <td class="mat-cell"> {{element.phoneNumber}} </td>
                <td class="mat-cell"> {{element.email}} </td>
                <td class="mat-cell"> {{element.name}} </td>
                <td class="mat-cell"> {{element.isEnabled}} </td>
                <td class="mat-cell">
                    <button mat-raised-button color="primary" (click)="modifyAccess(element.id)"
                >{{!element.isEnabled}}</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>












