<mat-toolbar color="primary" class="navbar">
    <mat-toolbar-row>
        <!-- <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button> -->
       <h1>MoD</h1>
        <div>
            <a mat-button [routerLink]=""> Home </a>
            <a mat-button [routerLink]="'/aboutUs'"> About Us </a>
            <a mat-button [routerLink]="'/contacts'"> Contacts </a>       
        </div>
        <div>
            <a mat-button [routerLink]="'/login'"> Login </a>
            <a mat-button [routerLink]="'/register'"> Register </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar> 

