.navbar{
    justify-content: space-between;
    width: auto;
}
h1{
    padding-right: 3rem; 
    margin: 2rem;
}
#authLinks{
    float: right;
}

.mat-button:hover{
    color: initial;
    align-content: flex-end;
}
