table{
    width: 100%;
    height: auto;
    ;
}
mat-grid-tile{
    width: 100%;
}
.mat-header-cell{
    width: fit-content;
    text-align: left;
}
.mat-cell{
    width: fit-content;
    text-align: left;
    height: fit-content;
}
h3{
    font-size: 20px;
}
tbody{
    display: block;
    height: 100px;       
    overflow-y: auto;    
    overflow-x: hidden;  
}