<mat-sidenav-container class="example-container">
        <mat-sidenav mode="side" opened>
            <a mat-button [routerLink]="['allCourses']" routerLinkActive="active" color="primary">All Courses</a>
            <a mat-button [routerLink]="['mentorOps']" routerLinkActive="active" color="primary">Ongoing Courses</a>
            <a mat-button [routerLink]="['mentorOps']" routerLinkActive="active" color="primary">Completed Courses</a>
            <a mat-button [routerLink]="['mentorOps']" routerLinkActive="active" color="primary">Payments</a>
            <a mat-button [routerLink]="['mentorOps']" routerLinkActive="active" color="primary">Notifications</a>
        </mat-sidenav>
    
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>